* {
  text-decoration: none;
}

body {
  background-image: linear-gradient(#000105, #202845);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
}

.corpo,
.container-section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header-nav-h1 {
  text-align: center;
  color: white;
  font-family: "Inconsolata", monospace;
  font-weight: 900;
  font-size: 10em;
}
.principal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}
.container-grid {
  width: 75%;
  padding: 0 0.625rem 0 0.625rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}
.grid-itens {
  transition: 0.25s all;
  max-width: 18.75rem;
  margin-top: 1.875rem;
}

.grid-itens:hover {
  transform: scale(1.1);
}

.grid-itens-img {
  width: 18.75rem;
  height: 187.5px;
  box-shadow: 5px 5px 20px #000104;
}

.grid-itens-tittle {
  margin-top: 10px;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  color: #ffffff;
}

.container-section{
    z-index: 1;
}



.background-gif {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    object-fit: cover;
    z-index: 0;
}

.controls{
  position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    object-fit: cover;
    z-index: 0;
}

.pause-play{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.back-arrow{
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  top: 0px;
 
}



.infos {
  position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    object-fit: cover;
    z-index: 0;
    
}

.infos-container{
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}


.info-title{
  font-size: 30px;
  font-family: "Source Code Pro", monospace;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-author{
  font-size: 20px;
  font-weight: bold;
  font-family: "Source Code Pro", monospace;
  color: white;
}

